.register__form {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    font-family: inherit;
    display: flex;
    flex-direction: column;
   /*align-items: center; */
  /* justify-content: space-between; */
}

@media screen and (min-width: 768px) {
    .register__form {
        max-width: 270px;
    }
}


@media screen and (min-width: 900px) {
    .register__form {
        max-width: 358px;
    }
}